.navbar-brand{
    max-height: 100px;
}

.custom-bg-color{
    background-color: #232323;
}

.nav-item{
    color: #fff !important;
}

.zoom-on-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}