.navbar-brand{
    max-height: 100px;
}

span{
    color: #fff;
}

.custom-bg-color{
    background-color: #232323;
}

.nav-item{
    color: #fff !important;
}

.zoom-on-hover:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

footer{
    text-align: center;
    font-size: 30px;
    background-color: #000;
    color: #fff;
    padding: 20px;
}

footer p{
    margin-bottom: 20px;
}

footer a{
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 15px;
}

footer p{
    font-size: 20px;
}